<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AREDN-FrontRoyal Mesh Network</title>

    <script src="vis-network.min.js" defer></script>
    <script src="renderjson.js" defer></script>
    <script src="topologr.js" defer></script>

    <link  rel="stylesheet" type="text/css" href="topologr.css">
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <img src="Network-icon.png" alt="AREDN-FrontRoyal" />
      </div>
      <div class="info">
        <div id="nodeName"></div>
        <input
          type="color"
          class="color1"
          name="color1"
          id="color1"
          value="#97C2FC"
        />
        <div id="nodeData"></div>
      </div>
      <div class="network">
        <div
          id="mynetwork"
          ondrop="dragAndDropSettings(event);"
          ondragover="dragover_handler(event)"
        ></div>
      </div>
      <div class="ssid">
        <center><h2><%= meshName %></h2></center>
      </div>
      <div class="toolbar" id="toolbar"></div>
      <div class="buttons">
        <button id="saveSettings" class="button-5" role="button">Save</button>
        <button id="loadSettings" class="button-5" role="button">Load</button>
        <button id="clearPos" class="button-5" role="button">Clear Pos</button>
        <button id="clearAll" class="button-5" role="button">Clear All</button>
        <button id="exportNet" class="button-5" role="button">Export Net</button>
        <button id="importNet" class="button-5" role="button">Import Net</button>
        <button id="gridNet" class="button-5" role="button">Grid</button>  
        <button id="clusterNode" class="button-5" role="button">Cluster</button>
        <button id="lockPos" class="button-5" role="button">Lock</button>
        <button id="settings" class="button-5" role="button">Settings</button>
      </div>
      <div class="footer"></div>
      <div class="footerlogo">
        <a href="https://github.com/captainwasabi/topologrjs" target="_blank">
          Topologr v0.1b7
        </a>
      </div>
    </div>

    <script type="text/javascript">
      var serverURL = "http://<%= serverURL %>";
      var meshLinks = JSON.parse("<%= meshLinks %>".replace(/\&\#34\;/g, '"'));
      var meshServices = JSON.parse(
  "<%= meshServices %>".replace(/\&\#34\;/g, '"')
);
    </script>
  </body>
</html>
